{% extends 'dashboard.html' %}

{% block content %}
<style>
    body {
    background-image: url('https://images.pexels.com/photos/7130470/pexels-photo-7130470.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    margin-left: 15px;
}
</style>
<div class="container mt-5">
    <h2 class="text-center">Select Company and Upload Data</h2>
    <form method="POST">
        {% csrf_token %}

        {% if messages %}
            <div>
                {% for message in messages %}
                {% if message.tags == 'success' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% elif message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% elif message.tags == 'warning' %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% elif message.tags == 'info' %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% else %}
                <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        <div class="mb-3">
            <label for="company" class="form-label">Select Company</label>
            <select name="company" class="form-control">
                <option value="">--Select a Company--</option>
                {% for company in companies %}
                    <option value="{{ company.id }}">{{ company.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Next</button>
    </form>
</div>
{% endblock %}